
@{
    ViewData["Title"] = "MetallFactory";
}

<div class="text-center text-uppercase">
    <h1 class="display-4 text-uppercase">Генератор расписания работы оборудования</h1>
</div>

<div class="align-content-center m-5">
    <a asp-action="Schedule" class="btn btn-primary btn-lg">Сгенерировать</a>
</div>