@model List<List<TIStructured>>

@foreach(var i in Model)
{
    <div>!!!КОМБИНАЦИЯ</div>
        @foreach(var j in i)
        {
            <div>//@j.MachineId :</div>
            @foreach(var k in j.TimeDict)
            {
                <div>*****(@k.Item1, @k.Item2);</div>
            }
        }
    <div>КОМБИНАЦИЯ!!!</div>
}